<header>
    <h1>{{title}}</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Weather</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
        </li>
    </ul>

    {{!-- <a href="/"> Weather </a>
    <a href="/about"> About </a>
    <a href="/help"> Help </a> --}}
</header>
{{!-- part of a webpage, so we dont set up like the index.hbs --}}